/* definisco la griglia */
.contenitore{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar contenuto"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10 px;
    
}

/* definisco l'header */
.header{
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
    font-size: 20px;
    display:flex;
    align-content: center;
    justify-content: center; 
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(38, 142, 233);
    width: 20%;

}

.contenuto{
    grid-area: contenuto;
    background-color: beige;
    position: relative;
    padding:20px;
}



