/* posizionamento relativo con contenitore */
.contenitore{
    position: relative;
    width: 300px;
    height: 200px;
    background-color: lightgrey;

}

/* posizionamento assoluto con box */
.box{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 100px;
    height: 50px;
    background-color: coral;
}

/* lo uso per mettere i bordi alla griglia */
div{
    border:2px solid black;
}

/* quello che contiene la griglia */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aqua;
    gap: 10 px;
    
}

/* questi servono per la griglia e dargli colore diverso */
.item{
    background-color: antiquewhite;
    color: white;
    padding: 20px;
    text-align: center;
    
}

.item1{
    background-color: steelblue;
    color: white;
    padding: 20px;
    text-align: center;

}

.item2{
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    
}

/* questo è il flexbox */
.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: lightgray;
}

/* item che applico nel flex */
.item_flex{
    width: 50px;
    height: 50px;
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* griglia con colonne e gap */
.container_col_gap{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

/* questo occupa due colonne nella prima riga */
.item3{
    grid-column: 1/3;
    grid-row: 1;
    background-color: green;
}

/* questo occupa due righe nella terza colonna */
.item4{
    grid-column: 3;
    grid-row: 1/3;
    background-color: red;
}

/* template ad area */
.container_area{
    display: grid;
    grid-template-areas: 
        "header header" /*header occupa tutta la prima riga */
        "sidebar content" /*sidebar e content condividono la seconda riga */
        "footer footer";
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.header { grid-area: header;}
.sidebar {grid-area: sidebar;}
.content {grid-area: content;}
.footer {grid-area: footer;}