/* Cascada */
/* p è il generic */
p {
    color: blue;
}
/* Regola che viene applicata se ugale e sempre l'ultima */
p {
    color: red;
}

/* p senza conflitto che definisce il fontsize.
viene ultimo perchè generico */
p {
    font-size: 24px;
}

/* questa è la classe. viene per seconda */
.testo{
    background-color:orange;
}

/* questo è l'id. viene primo */
#titolo{
    color:red;
}

div {
    color: green;
}