:root{
    --colore-principale:rgb(127, 77, 77);
    --colore-secondario:rgb(235, 215, 215);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colore-secondario);
}

.contenitore{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--colore-principale);
    color: white;
}

main{
    grid-area: main;
    display: flex;
    padding: 20px;
    text-align: center;
}

.menu {
display: flex;
gap: 20px;
}

.menu a {
color: white;
text-decoration: none;
}

.menu-button {
display: none;
background: none;
font-size: 20px;
color: white;
border: none;
cursor: pointer;
}

.introduzione{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colore-principale);
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input, textarea{
    padding: 20px;
    border-radius: 1px;
    border: 1px solid rgb(173, 129, 129);
}



